<div class="row">
  <div class="jumbotron text-center">
    <h3>Welcome to your application!</h3>
    <p>You are logged in as {{ user.data.email }}.</p>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <p class="lead">
          You can easily embed your Forms and Resources into this application using.
        </p>
        <div>
          <pre>&lt;formio src="'https://yourapp.form.io/user/login'"&gt;&lt;/formio&gt;</pre>
        </div>
        <p class="lead">Need Help?</p>
        <ul class="list-inline">
          <li><a class="btn btn-lg btn-success" target="_blank" href="https://help.form.io/developer/info/angular/">Embedding</a></li>
          <li><a class="btn btn-lg btn-success" target="_blank" href="https://help.form.io">Documentation</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
