<div class="row">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6 text-center">
        <p class="lead">
          You can easily embed your Forms and Resources into this application using.
        </p>
        <div>
          <pre>&lt;formio src="'https://yourapp.form.io/user/login'"&gt;&lt;/formio&gt;</pre>
        </div>
        <p class="lead">Need Help?</p>
        <ul class="list-inline">
          <li><a class="btn btn-lg btn-success" target="_blank" href="http://help.form.io/embedding/">Embedding</a></li>
          <li><a class="btn btn-lg btn-success" target="_blank" href="http://help.form.io">Documentation</a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <p class="lead">Example Form</p>
        <div class="well">
          <formio src="userForm"></formio>
        </div>
      </div>
    </div>
  </div>
</div>
